<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.code.dao.CodeMapper">

	<select id="selectByParent" resultType="CodeVO">
		SELECT
			  CODE_CD
			, CODE_NM
			, CODE_PARENT
		 FROM CODE
		WHERE CODE_PARENT = #{codeParent}
	</select>
	
	<select id="selectByParentLike" resultType="CodeVO">
		SELECT
			  CODE_CD
			, CODE_NM
			, CODE_PARENT
		 FROM CODE
		WHERE CODE_PARENT LIKE #{codeParent}
	</select>
	
	<select id="selectByParentIn" resultType="CodeVO">
		SELECT
			  CODE_CD
			, CODE_NM
			, CODE_PARENT
		 FROM CODE
		WHERE CODE_PARENT IN (#{codeParent})
	</select>
	<select id="selectByParentInSubquery" resultType="CodeVO">
		SELECT
			  CODE_CD
			, CODE_NM
			, CODE_PARENT
		 FROM CODE
		WHERE CODE_PARENT IN (
							    SELECT CODE_CD
							    FROM CODE
							    WHERE CODE_PARENT LIKE #{codeParent}
							 )
	</select>
	
	<select id="selectCodeByCode" resultType="CodeVO">
		SELECT
			  CODE_CD
			, CODE_NM
			, CODE_PARENT
		 FROM CODE
		WHERE CODE_CD = #{codeCd}
	</select>
	
	<select id="selectByCodeCdLike" resultType="CodeVO">
		SELECT
			  CODE_CD
			, CODE_NM
			, CODE_PARENT
		 FROM CODE
		WHERE CODE_CD LIKE #{codeCd}
	</select>
</mapper>