<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.report.dao.ReportMapper">

<insert id="insertReport" parameterType="ReportVO">
	<selectKey order="BEFORE" resultType="int" keyProperty="reportNo">
		SELECT REPORT_SEQ.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO REPORT (
	    REPORT_NO,
	    REPORT_MEM_ID,
	    REPORTED_MEM_ID,
	    REPORT_REASON,
	    REPORT_CONT,
	    REPORT_DT
	) VALUES (
		     #{reportNo,jdbcType=NUMERIC}
			, #{reportMemId,jdbcType=VARCHAR}
			, #{reportedMemId,jdbcType=VARCHAR}
			, #{reportReason,jdbcType=VARCHAR}
			, #{reportCont,jdbcType=VARCHAR}
			, #{reportDt,jdbcType=VARCHAR}
	)
</insert>

</mapper>