<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.resource.dao.ResourceMapper">

	<resultMap type="ResourceVO" id="ResourceMap">
		<id property="resourceNo" column="RESOURCE_NO"/>
		<result property="atchFileNo" column="ATCH_FILE_NO"/>
		 <result property="fileDwncnt" column="FILE_DWNCNT"/>
		<association property="file" column="ATCH_FILE_NO" 
					select="kr.or.ddit.file.dao.FileMapper.selectFileEnable"/>
	</resultMap>
	
	<!-- 검색 조건 -->
	<sql id="searchFrag">
			<where>
				<if test="simpleCondition neq null">
					<if test="@org.apache.commons.lang3.StringUtils@isNotBlank(simpleCondition.searchWord)">
						<choose>
							<when test="simpleCondition.searchType eq 'resourceTitle'">
								 INSTR(RESOURCE_TITLE, #{simpleCondition.searchWord}) > 0 
							</when>
						</choose>
					</if>
				</if>
				AND RESOURCE_DEL = 'N'<!-- 삭제되지 않은 게시물만 조회 -->
			</where>
	</sql>

	<select id="selectTotalRecord" resultType="int">
	    SELECT COUNT(*) FROM "RESOURCE"
	    <include refid="searchFrag" />
	</select>
	
	<select id="selectResourceList" resultMap="ResourceMap">
	
	SELECT B.* 
			FROM 
			( 
			    SELECT ROWNUM RNUM, A.* 
			    FROM 
			    (
			        SELECT
			                RESOURCE_NO,
			                RESOURCE_TITLE,
			                R.ATCH_FILE_NO,
			                FD.FILE_DWNCNT
			        FROM "RESOURCE" R
			        INNER JOIN "FILE" F ON (F.ATCH_FILE_NO = R.ATCH_FILE_NO)
			        INNER JOIN FILE_DETAIL FD ON (FD.ATCH_FILE_NO = F.ATCH_FILE_NO)
			        <include refid="searchFrag" />
			        ORDER BY FILE_DWNCNT DESC
			    ) A 
			) B
			<![CDATA[
			WHERE RNUM >=#{startRow} AND RNUM <= #{endRow}
			]]>

		
	</select>
	
	<select id="selectResource" resultMap="ResourceMap">
		SELECT
		    RESOURCE_NO,
		    RESOURCE_TITLE,
		    ATCH_FILE_NO
		FROM
		    "RESOURCE"
		WHERE RESOURCE_NO = #{resource,jdbcType=NUMERIC}
	</select>
	
	<select id="getTotalCount" resultType="int">
	    SELECT COUNT(*) FROM "RESOURCE"
	   <include refid="searchFrag" />
	</select>
	
	
	
</mapper>