.apply-container {
	margin-top: 0;
	width: 1000px;
}
.list-area {
	min-height: 400px;
}
.truncate {
    white-space: nowrap;        /* 한 줄로 텍스트 표시 */
    overflow: hidden;           /* 넘치는 부분을 숨김 */
    text-overflow: ellipsis;    /* 넘치는 텍스트를 "..."으로 표시 */
    max-width: 10em;            /* 최대 너비를 12em으로 설정 (12글자 기준) */
    text-align: left;
    
}
/* 열람 */
.status-box.read {
    background-color: green;  
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
    width: 60px;
}
/* 미열람 */
.status-box.not-read {
    background-color: #d3d3d3;  
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
}
/* 취소완료 */
.status-box.cancel {
    background-color: #d3d3d3;  
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
}
/* 취소하기 */
.status-box.cancel-btn {
    background-color: /* #FA896B */#816bf5 ;  
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
}
/* 취소하기 */
.status-box.cancel-btn:hover {
    background-color: #6549c4; /* hover 시 더 어두운 색상 */
    transform: scale(1.05); /* 약간 확대 효과 */
    cursor: pointer; /* 마우스 포인터 변경 */
}
/* 상태창 글씨크기 */
.status-box {
        font-size: 15px; /* 상태 박스 폰트 크기 */
    }
.text-start {
    text-align: left;
}